img { 
  display: block;
  max-width: 100%;
}
.header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: #b1b2b2;
}
h1 {
  margin: 20px;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.libtn {
  list-style: none;
  color: black;
  background-color: #c1c4c1;
  border-radius: 15px;
  margin: 20px;
}
a {
  display: flex;
  text-decoration: none;
  transition: backgroud-color 0.2s ease;
  padding: 12px;
  border-bottom: solid thick transparent;
}
a:hover {
  background-color: rgb(94, 97, 97);
  color: white;
  border-radius: 15px;
  border-bottom: solid thick black;
}


@media screen and (max-width: 900px) {
  .links{
    display:none;
  }
  .hamburger {
    display: flex;
}
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.nav-menu {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #333;
  padding-top: 80px;
  transition: left 0.3s ease-in-out;

}

.nav-menu.active {
  left: 0;
}

.nav-menu a {
  display: block;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .hamburger {
      display: flex;
  }

  .links {
      display: none;
  }
}

.links {
  display: flex;
  list-style: none;
}