.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
}
h1{
    margin: 20px;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.libtn {
 
  list-style: none;
  color:black;
  background-color: rgb(81, 201, 151);
  border-radius: 15px;

}
a{
  text-decoration: none;
  transition:backgroud-color 0.2s ease;
  padding: 12px;
}
a:hover{
  background-color: darkcyan;
}